{% extends 'base/base.html' %}
{% include 'base/header.html' %}



{% block title %} Customer Details {% endblock %}



{% block body %}



<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3">
                <table class="table table-hover table-dark">
                    <tr>
                        <th style="text-align:center">Field</th>
                        <th style="text-align:center">Data</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <td style="text-align:center">{{customer['name']}}</td>
                    </tr>
                    <tr>
                        <th style="text-align:center">Email</th>
                        <td style="text-align:center">{{customer['email']}}</td>
                        
                    </tr>
                    <tr>
                        <th style="text-align:center">Phone Number</th>
                        <td style="text-align:center">{{customer['phone']}}</td>
                    </tr>
                    {% if type =='admin'%}
                        <tr>
                            <th style="text-align:center">Count of Products</th>
                            <td style="text-align:center">{{customer['no_products']}}</td>
                        </tr>
                        {% for i in customer['products']%}
                            <tr>
                                <th style="text-align:center">Product :</th>
                                <td style="text-align:center">
                                    id: {{ i['product']}} ,
                                    Name: {{i['productname']}} ,
                                    Price: {{i['productprice']}} ,
                                    catID: {{i['category']}}
                                </td>
                            </tr>
                        {%endfor%}
                            <tr>
                                <th style="text-align:center">Shoppping value</th>
                                <td style="text-align:center">{{customer['shopping_value']}}</td>
                            </tr>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}